<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{emailLayout}">
<head>
    <title>Ejecución Prueba en Proceso</title>
</head>
<body>
<h3 layout:fragment="titulo">Solicitud Ensayo Finalizada</h3>
<div layout:fragment="contenido">

    <table cellspacing="0" cellpadding="0" border="0" class="bmeImageTable" width="700" style="padding: 0px !important;" dimension="100%">
        <tbody>
        <tr>
            <td valign="top" align="left" name="tblCell"
                style="padding: 10px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400; color: rgb(56, 56, 56); text-align: left;"
                class="tblCell">
                <div style="line-height: 200%;">
                    <p style="font-size: 16px">Estimado(a) Usuario: <span th:text="${usuarioSolicitante}">Solicitante</span></p>
                    <p>La solicitud de ensayo <b th:text="${codigo}">SP000001</b> se encuentra en estado <b th:text="${tipoAprobacion}">NO APROBADO</b></p>
                    <p><b>Observación:</b> <span th:text="${observacion}">Solicitud Aprobada</span></p>
                    <table class="detalle">
                        <tr class="detalle">
                            <th class="detalle" style=" font-weight: 100; text-align:left; width:40%">Prioridad:</th>
                            <th class="detalle" style="text-align:left; width:60%"><b th:text="${prioridad}">ALTO</b></th>
                        </tr>
                        <tr>
                            <th class="detalle" style="font-weight: 100; text-align:left; width:40%">Proveedor:</th>
                            <th class="detalle" style="text-align:left; width:60%"><b th:text="${proveedor}">IMPTEK</b></th>
                        </tr>
                        <tr>
                            <th class="detalle" style="font-weight: 100; text-align:left; width:40%">Nombre Comercial:</th>
                            <th class="detalle" style="text-align:left; width:60%"><b th:text="${nombreComercial}">RESINA 2</b></th>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" name="tblCell"
                style="padding: 10px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400; color: rgb(56, 56, 56); text-align: center;"
                class="tblCell">
                <a th:href="${urlBase}">Regresar al sistema ISA</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
