<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{emailLayout}">
<head>
    <title>Ejecución Prueba en Proceso</title>
</head>
<body>
<h3 layout:fragment="titulo">Ejecución Prueba en Proceso</h3>
<div layout:fragment="contenido">

    <table cellspacing="0" cellpadding="0" border="0" class="bmeImageTable" width="700" style="padding: 0px !important;" dimension="100%">
        <tbody>
        <tr>
            <td valign="top" align="left" name="tblCell"
                style="padding: 10px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400; color: rgb(56, 56, 56); text-align: left;"
                class="tblCell">
                <div style="line-height: 200%;">
                    <p style="font-size: 16px">Estimado(a) Usuario:</p>
                    <p>Se informa la <b>NO EJECUCIÓN</b> de la prueba en proceso de la solicitud <b th:text="${codigo}">SP000001</b> con el siguiente
                        detalle</p>
                    <p>Motivo:</b> <span th:text="${observacion}">No hay materia prima</span></p>
                    <table class="detalle">
                        <tr class="detalle">
                            <th class="detalle" style=" font-weight: 100; text-align:left; width:40%">Responsable:</th>
                            <th class="detalle" style="text-align:left; width:60%"><b th:text="${usuarioResponsable}">Federico Perez</b></th>
                        </tr>
                        <tr>
                            <th class="detalle" style="font-weight: 100; text-align:left; width:40%">Fecha inicio prueba:</th>
                            <th class="detalle" style="text-align:left; width:60%"><b th:text="${fechaPrueba}">22/09/2022</b></th>
                        </tr>
                        <tr>
                            <th class="detalle" style="font-weight: 100; text-align:left; width:40%">Fecha máxima entrega informe:</th>
                            <th class="detalle" style="text-align:left; width:60%"><b th:text="${fechaEntregaInforme}">22/09/2022</b></th>
                        </tr>

                    </table>
                    <table class="detalle">
                        <tr class="detalle">
                            <th class="detalle" style=" font-weight: 100; text-align:left; width:40%">Área:</th>
                            <th class="detalle" style="text-align:left; width:60%"><b th:text="${area}">MANTENIMIENTO</b></th>
                        </tr>
                        <tr>
                            <th class="detalle" style="font-weight: 100; text-align:left; width:40%">Motivo de prueba:</th>
                            <th class="detalle" style="text-align:left; width:60%"><b th:text="${motivoPrueba}">PROBAR LA RESINA TIPO A EN EL IMPERGLAS</b></th>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" name="tblCell"
                style="padding: 10px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400; color: rgb(56, 56, 56); text-align: center;"
                class="tblCell">
                <a th:href="${urlBase}">Regresar al sistema ISA</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
